[Unit]
Description=Mayu for Linux

[Service]
Type=forking
PIDFile=/run/mayu.pid
ExecStart=/usr/local/bin/mayud start %i
ExecStop=/usr/local/bin/mayud stop

[Install]
WantedBy=multi-user.target
